/* Site header */

.debug {

    /* Side header */

    .site-header__logo {
        background-color: red;
        width: 80;
        aspect-ratio: 80 / 40;
    }

    .site-header__menu {
        background-color: red;
        width: 550px;
        height: 100%;
    }

    .site-header__cta {
        background-color: green;
        width: 100px;
        height: 100%;
    }

    .site-header__menu-button {
        background-color: yellow;
        width: 40px;
        height: 40px;
    }

    /* Features */

    .features__card {
        height: 300px;
    }

    /* Planning */

    .planning__content {
        height: 500px;
        background-color: green;
    }

    .planning__card {
        height: 450px;
    }

    /* Testimonial */

    .testimonial__title {
        background-color: red;
        height: 200px;
    }

    .testimonial__card-avatar {
        background-color: red;
    }

    .testimonial__card-text {
        background-color: yellow;
        height: 200px;
    }

    /* Benefits */

    .benefits__title {
        background-color: red;
        height: 200px;
    }

    .benefits__card {
        height: 300px;
    }

    /* About */

    .about .row>*>* {
        height: 500px;
        background-color: green;
    }

    /* Started */

    .started .row>*:nth-child(2) div {
        height: 500px;
        background-color: red;
    }

    /* Site footer */

    .site-footer .row>*:nth-child(2) div {
        height: 300px;
        background-color: yellow;
    }
}