/* Site header */

.site-header {
    background-color: var(--color-accent1);
    padding-top: var(--space-8);
    padding-bottom: var(--space-8);
}

.site-header__cta {
    margin-left: var(--space-8);
}

/*
** Breakpoint: sm 
*/

@media screen and (min-width: 576px) {}

/*
** Breakpoint: md 
*/

@media screen and (min-width: 768px) {}

/*
** Breakpoint: lg
*/

@media screen and (min-width: 992px) {}


/*
** Breakpoint: xl 
*/

@media screen and (min-width: 1200px) {}