.container {
    padding-left: var(--space-6);
    padding-right: var(--space-6);

}

/* Site header */

.site-header {
    background-color: var(--color-accent1);
    padding-top: var(--space-2);
    padding-bottom: var(--space-2);
}

.site-header__cta {
    margin-left: var(--space-2);
}

/* Features */

.features {
    margin: var(--space-7) 0;
}

.features__card {
    background-color: var(--color-light);
    border-radius: var(--radius-1);
}

/*
** Breakpoint: sm 
*/

@media screen and (min-width: 576px) {}

/*
** Breakpoint: md 
*/

@media screen and (min-width: 768px) {}

/*
** Breakpoint: lg
*/

@media screen and (min-width: 992px) {}


/*
** Breakpoint: xl 
*/

@media screen and (min-width: 1200px) {}