.container {
    padding-left: var(--space-6);
    padding-right: var(--space-6);

}

/* Site header */

.site-header {
    background-color: var(--color-accent1);
    padding-top: var(--space-2);
    padding-bottom: var(--space-2);
}

.site-header__cta {
    margin-left: var(--space-2);
}

/* Features */

.features {
    margin-top: var(--space-7);
}

.features__card {
    background-color: var(--color-light);
    border-radius: var(--radius-1);
}

/* Planning */

.planning {
    background-color: var(--color-medium);
    margin-top: var(--space-7);
    padding-top: var(--space-7);
    padding-bottom: var(--space-7);
}

.planning__card {
    background-color: var(--color-extralight);
    border-radius: var(--radius-2);
}